body {
    position: relative;
    width: 1348px;
    height: 1024px;
    background: #F9F9F9
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    gap: 32px;
    position: absolute;
    width: 1348px;
    height: 56px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
}

.menu-left {
    width: 146px;
    height: 24px;
}

.menu-left-logo {
    position: absolute;
    width: 90px;
    height: 20px;
    left: 80px;
    top: 18px;
}

.menu-left-menu {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 24px;
    top: 16px;
}

.menu-center {
    width: 372px;
    height: 41px;
    border: 1px solid #CCCCCC;
    top: 8px;
}

.menu-center-search {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 887px;
    top: 16px;
}

.menu-center-rectangle-2 {
    box-sizing: border-box;
    position: absolute;
    width: 65px;
    height: 41px;
    left: 868px;
    top: 8px;
    background: #F8F8F8;
    border: 1px solid #CCCCCC;
}

.menu-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 130px;
    height: 34px;
}

.menu-right-video {
    width: 24px;
    height: 24px;
}

.menu-right-bell {
    width: 24px;
    height: 24px;
}

.menu-right-avatar {
    width: 34px;
    height: 34px;
    background: url('../images/Camaro.png') no-repeat center;
    background-size: cover;
    border-radius: 50%;
    border: #CCCCCC 1px solid;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 22px;
    position: absolute;
    width: 218px;
    height: 968px;
    left: 0px;
    top: 56px;
    background: #FFFFFF;
    border: 1px solid transparent;
}

.menu-item-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 75px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.menu-item-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 91px;
    height: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.menu-item-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 105px;
    height: 24px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.menu-item-4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 136px;
    height: 24px;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.menu-item-5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 152px;
    height: 24px;
    flex: none;
    order: 4;
    flex-grow: 0;
}

.menu-item-6 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 157px;
    height: 24px;
    flex: none;
    order: 5;
    flex-grow: 0;
}

.menu-item-7 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 110px;
    height: 24px;
    flex: none;
    order: 6;
    flex-grow: 0;
}

.menu-item-8 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 82px;
    height: 24px;
    flex: none;
    order: 7;
    flex-grow: 0;
}

.menu-item-9 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 97px;
    height: 24px;
    flex: none;
    order: 8;
    flex-grow: 0;
}

.menu-item-10 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 96px;
    height: 24px;
    flex: none;
    order: 9;
    flex-grow: 0;
}

.video-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 16px;
    position: absolute;
    width: 282px;
    height: 262px;
    left: 242px;
    top: 80px;
    border-radius: 4px;
    order: 0;
}

.video-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 16px;
    position: absolute;
    width: 282px;
    height: 262px;
    left: 498px;
    top: 80px;
    border-radius: 4px;
    order: 1;
}

.video-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 16px;
    position: absolute;
    width: 282px;
    height: 262px;
    left: 754px;
    top: 80px;
    border-radius: 4px;
    order: 2;
}

.video-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 16px;
    position: absolute;
    width: 282px;
    height: 262px;
    left: 1008px;
    top: 80px;
    border-radius: 4px;
    order: 3;
}

.video-5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 16px;
    position: absolute;
    width: 282px;
    height: 262.29px;
    left: 242px;
    top: 356px;
    border-radius: 4px;
}

.video-6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 16px;
    position: absolute;
    width: 282px;
    height: 262px;
    left: 498px;
    top: 356px;
    border-radius: 4px;
}

.video-7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 16px;
    position: absolute;
    width: 282px;
    height: 262px;
    left: 754px;
    top: 356px;
    border-radius: 4px;
}

.video-8 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 16px;
    position: absolute;
    width: 282px;
    height: 262px;
    left: 1008px;
    top: 356px;
    border-radius: 4px;
}

.video-9 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 16px;
    position: absolute;
    width: 282px;
    height: 262px;
    left: 242px;
    top: 632px;
    border-radius: 4px;
}

.video-10 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 16px;
    position: absolute;
    width: 282px;
    height: 262px;
    left: 498px;
    top: 632px;
    border-radius: 4px;
}

.video-11 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 16px;
    position: absolute;
    width: 282px;
    height: 262px;
    left: 754px;
    top: 632px;
    border-radius: 4px;
}

.video-12 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 16px;
    position: absolute;
    width: 282px;
    height: 262.29px;
    left: 1008px;
    top: 632px;
    border-radius: 4px;
}